<h3><a href ="<%= post.url%>"><%= post.title%></a>(<%= post.url %>)</h3>
<%= post.postvotes.sum(:vote_value) %> votes by 
  <a href ="/user/<%= post.user.id %>"> <%= post.user.name%></a><br>
<%= post.comments.length %> comments
Created on <%= post.created_at %>

<% if current_user && (current_user.id != post.user.id) %>
 <button class="upvote" name="post_id=<%=post.id%>&user_id=<%= current_user.id%>">UP</button>
 <button class="downvote" name="post_id=<%=post.id%>&user_id=<%= current_user.id%>">DOWN</button>
<% end %>


